---
layout: not_homepage
quote: The sign of intelligence is that you are constantly wondering.
author: Sadhguru
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Hi, my name is Priyank and I'm a programmer. Over the past two years , I've been working in Software Development and Machine learning domain. Love Building awesome projects , packages and scripts which would enhance the human working experience and provide solutions to ease the efforts. I've been lucky to explore this much depth of the field and to constantly grow with the industry advancements.
Also , I'm Redhat Certified Engineer and System Administrator , holding a really good grasp on some of the famous Linux distros. Being an avid Open Source lover, I've contributed in various organisations like CircleCI , Hasura , FossAsia , etc. The source code to most of my Projects and Scripts can be easily found on my GitHub account.
      </p>
      <p>
        I am now looking for my next adventure, so feel free to browse the <a class="about_me_links" href="/projects">projects</a> section to check out what I've built, <a class="about_me_links" href="/contact">shoot me an email</a> or connect on <a class="about_me_links" href="https://www.linkedin.com/in/priyank-agarwal-9a6003159/">linkedIn</a>.
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
